/* General Styling */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

/* About Section */
#about {
    background-color: #4d606777;
    padding: 50px 0;
    text-align: center;
}

#about h2 {
    font-size: 36px;
    color: #333;
    margin-bottom: 20px;
}

#about p {
    font-size: 18px;
    color: #555;
    max-width: 600px;
    margin: 0 auto 20px;
}

#about img {
    max-width:60%;
    height: auto;
    margin-top: -15px;
    border-radius: 40px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
.col{
    color: rgb(15, 15, 15);
}